<h1>Task name: <%= @task.title %></h1>
<p>Details: <%= @task.details %> </p>
<p>Completed? <%= @task.completed %> </p>
<br>

<button type="button" class="btn btn-secondary"><%= link_to 'RETURN HOME', tasks_path %></button>
<button type="button" class="btn btn-secondary"><%= link_to 'DELETE TASK',
    task_path(@task),
    method: :delete,
    data: { confirm: "Are you sure?" } %></button>
<button type="button" class="btn btn-secondary"><%= link_to 'EDIT TASK',edit_task_path(@task)%></button>
