<h1> <%= @task.title  %>:, </h1>
<p> <%= @task.details %> </p>
<p> Done: <%= @task.completed %> </p>

<%= link_to 'RETURN HOME', tasks_path %>
<%= link_to 'DELETE TASK', tasks_path %>
<%= link_to 'EDIT TASK', tasks_path %>
