<h1> <%= @task.title  %>:, </h1>
<p> <%= @task.details %> </p>
<p> Done: <%= @task.completed %> </p>

<%= link_to 'RETURN HOME', tasks_path %>
<%= link_to 'DELETE TASK',
    task_destroy_path(@task),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
<%= link_to 'EDIT TASK',task_edit_path(@task)%>
